  .titulo_rojo{
  color:red;
  background-color: #0000ff;
  }
  .titulo_verde{
  color: green;
  }
  .fuente_personalizada{
  font-family: "Lato, sans-serif";
  }

  p{
  font-size: 16px;
  }
  .fuente{
  font-family: helvetica;
  }
